// Google Fonts
@import "https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900";
@import "https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two";
@import "https://fonts.googleapis.com/css?family=Oswald:400,300";
@import "https://fonts.googleapis.com/css?family=Droid+Serif";
@import "https://fonts.googleapis.com/css?family=Caveat+Brush";

// body { background-image: url("../../assets/images/backgrounds/main.png"); } 
body{
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_white.png");      
  
}
.logo {
    height: 3.5rem;
    margin-top: 0.5rem;
}
.header_logo_container {
    color: $white;
    float: left;
    position: relative;
    width: 20rem;
    height: 7rem;
}
// Post Pages
.entry-title {
    font-size: rem-calc(80);
    line-height: rem-calc(100);
    color: scale-color($primary-color, $lightness: 85%);
    text-shadow: 3px 3px 0px scale-color($primary-color, $lightness: -20%);
  
}
.title-area a {
    font-family: $font-family-sans-serif;
    text-shadow: 2px 2px 0px scale-color($primary-color, $lightness: -20%);
}
// .post_title_container, .top-bar-container { background-image: url("../images/backgrounds/blue.png");}

.post_title_container {
    padding: 3rem 0rem;
    margin-bottom: 3rem;
    background-color: $primary-color;
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_blue.png");      

}
.top-bar-container,
.tab-bar {
    margin-bottom: 0;
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
}


// Home Page

.home_page.section_container_1 {
    padding: 5rem 0rem;
    background-color: $primary-color;
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/section1_background.png");
    background-position: 5% 10%;
    background-repeat: no-repeat;
    background-size: 100%;

	.main_title {
		font-size: rem-calc(80);
	    line-height: rem-calc(100);
	    color: scale-color($primary-color, $lightness: 70%);
	    text-shadow: 3px 3px 0px scale-color($primary-color, $lightness: -20%);
	}
	.main_sub {
		margin-top: rem-calc(30);
		font-size: rem-calc(22);
	    color: scale-color($primary-color, $lightness: 90%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: -20%);

	}    
}

.home_page.section_container_2 {
    padding: 3rem 0rem;
    background-color: $secondary-color;
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_green.png");
    h2 {
        font-size: rem-calc(42);
        text-align: center;
        color: scale-color($secondary-color, $lightness: 85%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -50%);
        margin-bottom: rem-calc(22);
    }
    p {
    	font-size: rem-calc(22);
    	text-align: center;
        color: scale-color($primary-color, $lightness: 95%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -20%);
    }
}
.home_page.section_container_3 {
    padding: 3rem 0rem;
    background-color: $primary-color;
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_blue.png");

    p {
    	color: scale-color($white, $lightness: 0%);
    	font-size: rem-calc(18);
    	//text-align: left;
        font-weight: bold; 
    }
    li {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(18);
        list-style-type: none;
        //text-align: left;
    }
    h2 {
        font-size: rem-calc(38);
        //text-align: left;
        color: scale-color($primary-color, $lightness: 75%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: -50%);
        margin-bottom: rem-calc(22);
    }
    .spam{
        font-size: rem-calc(16);
        color:$white;
    }
    .fa-envelope-o{
        font-size: rem-calc(90);
        color:$white;
    }
}
.home_page.section_container_4 {
    padding: 3rem 0rem;
    background-color: $secondary-color;
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_green.png");
    h3 {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(60);
        margin-bottom: rem-calc(32);
    }
    .blog_post{
        border: 2px solid $primary-color; 
        background-color:$white;
        padding: rem-calc(6) rem-calc(20);
        display: block;
        margin-bottom: rem-calc(16);

        h4 {
            color: $primary-color;
            font-size: rem-calc(32);
        }
        p {
            color: $jet;
            font-size: rem-calc(16);  
        }
        a {
            color: $jet;
            font-size: rem-calc(16);  
        }

    }
    .blog_post:hover{
        box-shadow: 0px 0px 20px scale-color($primary-color, $lightness: 0%);
        transition: 0.25s;
    }
}

::selection {
    background: $success-color;
    color: $white;
}
::-moz-selection {
    background: $success-color;
    color: $white;
}

// ATB 101

.one01.section_container_1 {
    padding: 3rem 0rem;
    background-color: scale-color($secondary-color, $lightness: 0%);
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -90%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_green.png");
    h1 {
        font-size: rem-calc(60);
        line-height: rem-calc(70);
        color: scale-color($secondary-color, $lightness: 90%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -50%);
    }
    p {
        margin-top: rem-calc(30);
        font-size: rem-calc(20);
        color: scale-color($primary-color, $lightness: 95%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -20%);
    }    
}

.one01.section_container_2 {
    padding: 3rem 0rem;
    // background-color: scale-color($primary-color, $lightness: 90%);
    border-top: 1px solid scale-color($secondary-color, $lightness: 90%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -90%);
    h2 {
        font-size: rem-calc(60);
        line-height: rem-calc(70);
        color: scale-color($primary-color, $lightness: 10%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: -50%);
    }
    p {
        margin-top: rem-calc(30);
        font-size: rem-calc(18);
        color: scale-color($primary-color, $lightness: -90%);
    }
}
.one01.section_container_3 {
    padding: 3rem 0rem;
    background-color: $primary-color;
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
    p {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(25);
        text-align: left;
    }
    .spam{
        font-size: rem-calc(16);
        color:$white;
    }
    .fa-envelope-o{
        font-size: rem-calc(90);
        color:$white;
    }
}
.one01.section_container_4 {
    padding: 3rem 0rem;
    background-color: $secondary-color;
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
    h3 {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(60);
        margin-bottom: rem-calc(32);
    }
    .blog_post{
        border: 2px solid $primary-color; 
        background-color:$white;
        padding: rem-calc(6) rem-calc(20);
        display: block;
        margin-bottom: rem-calc(16);

        h4 {
            color: $primary-color;
            font-size: rem-calc(32);
        }
        p {
            color: $jet;
            font-size: rem-calc(16);  
        }
        a {
            color: $jet;
            font-size: rem-calc(16);  
        }

    }
    .blog_post:hover{
        box-shadow: 0px 0px 20px scale-color($primary-color, $lightness: 0%);
        transition: 0.25s;
    }
}

// ATB About

.about.section_container_1 {
    padding: 3rem 0rem;
    // background-color: scale-color($primary-color, $lightness: 90%);
    border-top: 1px solid scale-color($secondary-color, $lightness: 90%);
    //border-bottom: 1px solid scale-color($secondary-color, $lightness: -90%); 
    h1 {
        font-size: rem-calc(40); 
        line-height: rem-calc(70);
        color: scale-color($primary-color, $lightness: 10%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: -50%);
    }
    p {
        margin-top: rem-calc(30);
        font-size: rem-calc(18);
        //color: scale-color($primary-color, $lightness: -90%);
    }
}

.about.section_container_2 {
    padding: 3rem 0rem;
    // background-color: scale-color($primary-color, $lightness: 90%);
    border-top: 1px solid scale-color($secondary-color, $lightness: 90%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -90%);
    h2 {
        font-size: rem-calc(60);
        line-height: rem-calc(70);
        color: scale-color($primary-color, $lightness: 10%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: -50%);
    }
    p {
        margin-top: rem-calc(30);
        font-size: rem-calc(18);
        color: scale-color($primary-color, $lightness: -90%);
    }
}
.about.section_container_3 {
    padding: 3rem 0rem;
    background-color: $primary-color;
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);
    p {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(25);
        text-align: left;
    }
    .spam{
        font-size: rem-calc(16);
        color:$white;
    }
    .fa-envelope-o{
        font-size: rem-calc(90);
        color:$white;
    }
}
.about.section_container_4 {
    padding: 3rem 0rem;
    background-color: $secondary-color;
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -10%);
    h3 {
        color: scale-color($white, $lightness: 0%);
        font-size: rem-calc(60);
        margin-bottom: rem-calc(32);
    }
    .blog_post{
        border: 2px solid $primary-color; 
        background-color:$white;
        padding: rem-calc(6) rem-calc(20);
        display: block;
        margin-bottom: rem-calc(16);

        h4 {
            color: $primary-color;
            font-size: rem-calc(32);
        }
        p {
            color: $jet;
            font-size: rem-calc(16);  
        }
        a {
            color: $jet;
            font-size: rem-calc(16);  
        }

    }
    .blog_post:hover{
        box-shadow: 0px 0px 20px scale-color($primary-color, $lightness: 0%);
        transition: 0.25s;
    }
}

// Bart's books

.books.section_container_1 {
    padding: 3rem 0rem;
    background-color: scale-color($secondary-color, $lightness: 0%);
    border-top: 1px solid scale-color($secondary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($secondary-color, $lightness: -90%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_green.png");
    h1, h2 {
        font-size: rem-calc(60);
        color: scale-color($secondary-color, $lightness: 90%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -50%);
    }
    h2{
        margin-top: rem-calc(40);
    }
    p {
        margin-top: rem-calc(30);
        font-size: rem-calc(20);
        color: scale-color($primary-color, $lightness: 95%);
        text-shadow: 1px 1px 0px scale-color($secondary-color, $lightness: -20%);
    }
    .panel.callout{
        background-color: scale-color($secondary-color, $lightness: 80%);
        margin-top: rem-calc(24);
        p{
            
            font-size: rem-calc(18);
            color: $jet;
            text-shadow: none;
        }
        h3 {
            font-size: rem-calc(40);
            color: scale-color($jet, $lightness: 10%);
        }
        h4 {
            font-size: rem-calc(24);
            color: scale-color($jet, $lightness: 30%);
        }
    }
    .book_box{
        background-color: scale-color($secondary-color, $lightness: 80%);
        border: 1px solid $jet;
        p{
            font-size: rem-calc(18);
            color: $jet;
            text-shadow: none;
        }

    }
}

.thoughts{ 
    h1 {
        font-size: rem-calc(40); 
        line-height: rem-calc(70);
        color: scale-color($primary-color, $lightness: -10%);
        text-shadow: 1px 1px 0px scale-color($primary-color, $lightness: 80%);
    }
    li {
        list-style: none;
        line-height: rem-calc(60);
    }
    a {
        font-size: rem-calc(24);
    }
    a:hover{
        text-decoration: underline;
    }
    ul{
        margin-left: 0;
        margin-bottom: rem-calc(64);
    }
    hr {
        margin-bottom: rem-calc(32);
    }
}


// Blog Posts Main Page 

.blog_post_preview_container {

    //border: 1px solid scale-color($primary-color, $lightness: 100%);
    padding: rem-calc(12) rem-calc(0);
    margin-bottom: rem-calc(20);

    .title {
        color: $primary-color;
        font-size: rem-calc(32);
        margin-bottom: rem-calc(0);
    }
    .post_desc{
        color: $jet;
        font-size: rem-calc(16); 
        margin-bottom: rem-calc(0); 
    }

}

.post_content_container {
    hr {margin-top: rem-calc(48);}
    h5 {color: $primary-color;}
}



.blog_post_preview_container:hover{
    text-shadow: 0px 0px 10px scale-color($secondary-color, $lightness: 50%);
    text-decoration: underline;
    transition: 0.25s;
}

.margin-top{
    margin-top: rem-calc(36);
}

// About This Blog Accordion

.about_acc {
 margin-bottom: rem-calc(16);
}

.footer{
    padding: 3rem 0rem;
    background-color: scale-color($primary-color, $lightness: 0%);
    border-top: 1px solid scale-color($primary-color, $lightness: 10%);
    border-bottom: 1px solid scale-color($primary-color, $lightness: -90%);
    background-image: url("/wp-content/themes/ATB/assets/images/backgrounds/noise_blue.png");
}
.footer .inline-list a{
    font-size: rem-calc(16);
    color: scale-color($primary-color, $lightness: 95%); 
    margin-left: 0;
}
.footer .inline-list a:hover{
    color: scale-color($primary-color, $lightness: 50%); 
}
.footer .inline-list li{
    margin-left: 0;
    margin-right: rem-calc(22);
}
.main_form{
    span{
        color: white;
        font-size: rem-calc(22);
    }

}
.footer{
    color: white;
}
.main_form_footer{
    span{
        color: white;
    }
}